h2{
  color: var(--d-salmon);
  display: block;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
  font-size: xx-large;
  height: 50px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

main{
  width:1100px;
}

tr, tfoot{
  text-align: center;
  border: thin solid var(--d-salmon);
}

table{
  background-color: var(--l-green);
  border-top: medium solid var(--d-salmon);
  border-bottom: medium solid var(--d-salmon);
  border-collapse:collapse;
  width:100%;
  margin-top:20px;
  font-family: sans-serif;
}

th{
  font-weight: bold;
  border:thin solid var(--d-salmon);
  padding:5px;
}

form{
  background-color: var(--l-green);
  width:900px;
  margin:25px auto;
  border: medium solid var(--d-salmon);
  color: #6d2f28;
}

legend{
  display: block;
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin:20px;
}

.field{
  display: inline-block;
  width:45%;
  margin:auto;
  text-align:right;
  margin:5px;
}

#submit{
  display: block;
  margin: 10px auto;
}